/*
	Global classes
					*/
body {
  margin: 0;
  width: 100%
  font-family: avenir;
  background-color: #9AEBFF;
}

div:not(.navbar) {
 display: flex;
 flex-direction: column;
 align-items: center;
}

h2 {
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  background-color: lightgray;
}

h3 {
  width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  background-color: lightgray;
}

.text {
  background-color: lightgray;
  padding: 20px;
  width: 760px;
  font-weight: 600;
}

div.project {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}


/* Right-aligned section inside the top navigation */
/* navbar styling */
.navbar ul {
  background-color: #14D1FF;
  list-style-type: none;
  width: 100%;
  height: 54px;
  padding: 0;
  margin: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #1496FF;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #7D14FF;
  color: white;
}

.home-text {
  text-align: center;
  background-color: inherit;
}

.projects {
  background-color: lightgray;
  width: 800px;
}

.project-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
}

.tri-text-group {
  display: flex;
  flex-direction: row !important;
  width: 800px;
}

.tri-text {
  background-color: lightgray;
  padding: 20px;
  width: 226.66px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.contact-text {
  padding-top: 20px;
  font-weight: 600;
  width: 600px;
  text-align: left;
}

#rpi {
  background-color: white;
}

#content {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
